
background: #FFFFFF;
title {
  font-family: Lato, italic;
  color: #F5E1CD;
}

h1 {
  color:
}

h2 {
  color: #A7BFD5;
}

h3 {
  color: #CECFD3;
}

h4 {
  color: #FFFFFF;
}
a {
  color: #FFFFFD;
}

p {
  color: #C8E3F2;
}
